/* Variables de modo oscuro */
:root {
    --primary-color: #1B1464; /* Color de fondo principal */
    --text-color: #FFFFFF; /* Color de texto */
    --highlight-text-color: #7AC943; /* Color de texto resaltado que no cambia */
    --navbar-text-color: #262EC9; /* Color de texto de la barra de navegación */
    --navbar-bg-color: #FFFFFF; /* Color de fondo de la barra de navegación */
    --navbar-hover-bg-color: #262EC9; /* Color de fondo de la barra de navegación al pasar el ratón */
    --navbar-hover-text-color: #FFFFFF; /* Color de texto de la barra de navegación al pasar el ratón */
  }
  
  /* Aplicar las variables de modo oscuro */
  .dark-mode {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  .dark-mode .navbar  {
    background-color: #1b146422;
    backdrop-filter: blur(2px);
    color: var(--navbar-text-color);
    font-weight: 700 !important;
  }


  .dark-mode .kosmo-logo {
    content: url('assets/img/LOGO_BLANCO.svg');
    filter: drop-shadow(0 0 2px #000) /* Sombra de baja opacidad alrededor del logo */
            contrast(110%) /* Aumenta el contraste para dar más definición */
            brightness(110%); /* Aumenta el brillo para destacar el logo */
  }
  

  .dark-mode .nav-link-button {
    background-color: transparent;
    color: white;
    font-weight: 700 !important;
    width: 150px;
    font-size: 1rem;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dark-mode .nav-link-button:hover {
    background-color: #262EC9;
    font-weight: 700 !important;
    color: white;
    border-radius: 20px; /* Bordes redondeados */
    padding: 6px 14px; /* Ajuste de padding para mantener el tamaño */
  }


  /* Estilos para enlaces de navegación en estado hover */
  .dark-mode .navbar .nav-link {
    background-color: #1b146422 !important; /* Color de fondo al pasar el cursor */
    color: white !important; /* Color de texto */
  }

  .dark-mode  .nav-link {
    border-radius: 20px; /* Bordes redondeados */
    padding: 12px 14px; /* Ajuste de padding para mantener el tamaño */
  }

  .dark-mode .navbar .nav-link:hover {
    color: white !important; /* Color de texto */
    background-color: var(--navbar-hover-bg-color)!important;
  }

  .dark-mode .navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    overflow: hidden;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    top: 0;
    z-index: 1000;
  }

/* Ajustes para el modo oscuro */
.dark-mode .button-talk-kosmo {
  background-color: #ffffff;
  color: #262EC9;
  box-shadow: 0 0 8px #ffffff;
}

.dark-mode .button-talk-kosmo:hover {
  background-color: #ddd; /* Un gris claro para el hover en modo oscuro */
  box-shadow: 0 0 12px #ddd;
}

/* Ajuste de la animación para el modo oscuro */
@keyframes pulse-dark {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 8px #ffffff;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 12px #ffffff;
  }
}

/* Aplicar la animación ajustada cuando el modo oscuro está activo */
.dark-mode .button-talk-kosmo {
  animation: pulse-dark 2.5s infinite;
}
  
  .dark-mode .navbar-text-logo {
    color: white; /* Color del texto */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold; /* Ajusta el grosor del texto */
    padding-left: 10px; /* Ajusta la separación entre el logo y el texto */
  }

  .dark-mode .button:hover {
    background-color: #ffffff97 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  }

  .dark-mode .navbar a,
  .dark-mode .navbar-toggler-icon {
    color: var(--navbar-text-color);
    background-color: var(white);
  }
  
  .dark-mode .main-content p {
    color: white; /* Color azul */
    font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  }
  
  /* Mantener el color verde de texto resaltado en modo oscuro */
  .dark-mode .highlight {
    color: var(--highlight-text-color);
  }
  
  /* Cambios adicionales para elementos como botones, enlaces, etc. */
  .dark-mode .button:hover {
    background-color: var(--primary-color);
    color: var(--navbar-hover-text-color);
  }
  
  .dark-mode .nosotros-title {
    color: white; /* Color azul */
    font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
    font-weight: 700;
  }

  .dark-mode .planes-section h3 {
    color: white;
    font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
    font-weight: 700;
    }


  .dark-mode .customization-section h2 {
  color: white; 
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-style: italic;
  font-weight: 700; 
  }

  .dark-mode .kosmo-customization-section button {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
  }
    
  .dark-mode .customization-description {
    color: white; 
    font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
    font-style: italic;
  }

  .dark-mode .navbar-toggler {
    border-color: black; /* Cambia al color que desees para el borde */
    background-color: #262EC9; /* Cambia al color que desees para el fondo */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  
  /* Cambio de imagen del logo en modo oscuro */
  .dark-mode .brand-logo {
    content: url(assets/img/LOGO_USER_ICONE.svg);
    background-color: #262EC9; /* Fondo blanco para el círculo */
  }
  
  .dark-mode .chat-container {
    width: 80%;
    max-width: 600px;
    margin: 80px auto;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

  .dark-mode .card-body {
    padding: 1rem;
    background-color: #261b86;
    }

  .dark-mode .card {
    font-weight: 700;
    background-color: #261b86;
    }

  .dark-mode .card-title {
      color: white; /* Color azul */
      font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
      font-weight: 700;
      }
      
  .dark-mode .card-text {
      color: white;
      font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
      font-style: light;
      }

  .dark-mode .form-group  {
    color: black;
  } 

  .dark-mode .form-container h2  {
    color: black;
  } 


  @media (max-width: 768px) {
    /* Estilos para enlaces de navegación en estado hover */
    .dark-mode .navbar .nav-link {
      background-color: transparent !important; /* Color de fondo al pasar el cursor */
      color: white !important; /* Color de texto */
    }
  
    .dark-mode  .nav-link {
      border-radius: 20px; /* Bordes redondeados */
  
      padding: 12px 14px; /* Ajuste de padding para mantener el tamaño */
    }
    }

  @media (max-width: 768px) {
    .dark-mode .closeModalButton {
      position: absolute;
      top: 10px;
      right: 50px;
      transform: translateY(210%);
      background-color: transparent;
      color: white;
      cursor: pointer;
    } 
  }


  /* Estilos existentes para .navbar-text-logo en modo oscuro */
.dark-mode .navbar-text-logo {
  color: white; /* Color del texto para modo oscuro */
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  padding-left: 10px;
}

/* Anular los estilos de hover generales para la navbar-brand específica en modo oscuro */
.dark-mode .navbar-brand-link:hover,
.dark-mode .navbar-brand-link:hover .navbar-text-logo,
.dark-mode .navbar-brand-link:active .navbar-text-logo,
.dark-mode .navbar-brand-link:focus .navbar-text-logo {
  background-color: transparent !important;
  color: white !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.dark-mode .strategy-title, .dark-mode .video-title-along {
  color: white; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-weight: 700;
}


.dark-mode .carousel-control-prev-icon,
.dark-mode .carousel-control-next-icon {
  filter: invert(0%); /* Mantiene el icono blanco */
}

.dark-mode .carousel-control-prev:hover .carousel-control-prev-icon,
.dark-mode .carousel-control-next:hover .carousel-control-next-icon {
  filter: invert(0%); /* Hace el icono ligeramente más oscuro al pasar el cursor */
  cursor: pointer; /* Cambia el cursor a un puntero para indicar interactividad */
}
