.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que está por encima de otros elementos */
}

.modalContent {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; /* Ajusta según tus necesidades */
  position: relative; /* Para posicionar el botón de cierre correctamente */
}

.closeModalButton {
  position: absolute;
  height: max-content;
  width: 2rem;
  top: 10px;
  right: 10px;
  /* Estilos adicionales para el botón de cierre */
}


.chat-button-modal {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 1050;
  border: none;
  background-color: #262EC9;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 15px rgba(38, 46, 201, 0.75); /* Brillo alrededor del botón */
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza las transiciones de transformación y sombra */
}

.dark-mode .chat-button-modal {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 1050;
  border: none;
  background-color: #262EC9;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.75); /* Brillo alrededor del botón */
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza las transiciones de transformación y sombra */
}

.dark-mode .chat-button-modal:hover,
.chat-button-modal:focus { /* Efecto al pasar el mouse y al enfocar */
  transform: scale(1.1) !important; /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 25px rgb(255, 255, 255) !important; /* Brillo más intenso */
}

.chat-button-modal:hover,
.chat-button-modal:focus { /* Efecto al pasar el mouse y al enfocar */
  transform: scale(1.1)!important; /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 25px rgba(38, 46, 201, 1)!important; /* Brillo más intenso */
}

.chat-button-modal:active { /* Efecto al hacer clic */
  transform: scale(0.9); /* Reduce ligeramente el tamaño */
}

.dark-mode .chat-button-modal:active {
  transform: scale(0.9); /* Reduce ligeramente el tamaño */
}


/* Animación de pulsación para el modo normal */
@keyframes pulse-animation {
  0%, 100% {
    box-shadow: 0 0 15px rgba(38, 46, 201, 0.75);
  }
  50% {
    box-shadow: 0 0 25px rgba(38, 46, 201, 1);
  }
}

/* Animación de pulsación para el modo oscuro */
@keyframes pulse-animation-dark {
  0%, 100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.75);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 1);
  }
}

.chat-button-modal {
  /* Estilos base del botón */
  animation: pulse-animation 2s infinite ease-in-out; /* Aplica la animación de pulsación por defecto */
}

.dark-mode .chat-button-modal {
  /* Estilos adicionales para el botón en modo oscuro */
  animation: pulse-animation-dark 2s infinite ease-in-out; /* Aplica la animación de pulsación para modo oscuro */
}



.chat-button-modal img {
  width: 50px; /* Ajusta según el tamaño deseado para el icono */
  height: auto;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4; /* Asegúrate de que el modal está sobre otros elementos. */
}

.modalContent {
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  position: relative; /* Para el botón de cierre */
  max-width: 500px; /* O el ancho que prefieras */
  max-height: 90vh;
  overflow-y: auto; /* Para manejar el desbordamiento de contenido */
}

.closeModalButton {
  position: absolute;
  top: 10px;
  right: 65px;
  transform: translateY(210%);
  background-color: transparent;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .closeModalButton {
    position: absolute;
    top: 10px;
    right: 25px;
    transform: translateY(210%);
    background-color: transparent;
    color: white;
    cursor: pointer;
  } 
}